*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    
    font-family:Arial, Helvetica, sans-serif;
}

.header{
    width: 80%;
    padding-left:20px ;
}
.logo .bt img{
    height: 4em;
}
.logo .bt{
    width: 4em;
    float: left;
    margin-top: 20px;
}
.main-box{
    width: 100%;
    height: 110px;
    background-color: #e6e6e6;
    position: fixed;
    top:0;
    padding-left: 260px;
    right: 0;
}
.main .header .searchbar{
    width: 600px;
    height: 30px;
    border-radius: 30px;
    background:  rgb(186, 222, 253);
    margin-left: 50px;
    float: left;
    margin-top: 10px;
}
.main .header .searchbar input{
    width: 93%;
    height: 99%;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    padding-left: 20px;
    color: black;
    outline-color: rgb(248, 15, 15);
}
.main .header .searchbar button{
    width: 20px;
    height: 20px;
    border: none;
    background:  rgb(186, 222, 253);
    border-radius: 30px;
}
.main .header .searchbar .fa-search{
    font-size: 15px;
    color: black;
}

.header-bottom{  
    width: 1100px;
    height: 50px;
    float:  left;
    margin-left: 20px;
    margin-top: 20px;
}
.header-bottom ul{
    float: left;
    width: 100%;
    height: 20px;
    display: block;

}
.header-bottom ul li{
    list-style: none;
    float: left;
    margin-left: 20px;
    padding: 10px 10px;
    width: auto;
    height: 30px;
    border-radius: 5px;
}
.header-bottom ul li:hover{
    list-style: none;
    float: left;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    width: auto;
    height: 40px;
    border-radius: 5px;
    background: #ccc;
}
.header-bottom > ul > li > a{
    color: black;
}
.header-bottom ul li a{
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}
.header .icon-shoping{
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 50px;
    margin-top: 10px;
}
.header .icon-shoping{
    font-size: 30px;
}
header .icon-shoping:hover{
    float: left;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin-left: 50px;
    background: #ccc;
}
.fa-shopping-cart:hover{
    color: rgba(26, 24, 24, 0.247);
}
.dki a{
    text-decoration: none;
}
.header-bottom .nav li{
    display: block;
    position: relative;
}
.header-bottom .nav li a{
    text-decoration: none;
}
.nav a{
    color: black;
    font-size: 15px;
    line-height: 20px;
}
.nav #subnav{
    display: none;
    background-color: #fff;
    position: absolute;
    height: 150px;
    width: 200px;
    box-shadow: 0 0 10px rgb( 0, 0, 0, 0.3);
    top: 100%;
}
.nav li:hover #subnav{
    display: block;
}
#subnav li:hover,
 #subnav li a:hover{
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 10px;
 }
.nav #subnav a{
    color: black;
    font-size: 15px;
    line-height: 20px;
}
.nav #subnav-a{
    display: none;
    background-color: #fff;
    position: absolute;
    height: 170px;
    width: 120px;
    box-shadow: 0 0 10px rgb( 0, 0, 0, 0.3);
    top: 100%;
}
.nav li:hover #subnav-a{
    display: block;
}
#subnav-a li:hover,
 #subnav-a li a:hover{
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 10px;
 }
.nav #subnav-a a{
    color: black;
    font-size: 15px;
    line-height: 20px;
}

.nav #subnav-v{
    display: none;
    background-color: #fff;
    position: absolute;
    height: 170px;
    width: 130px;
    box-shadow: 0 0 10px rgb( 0, 0, 0, 0.3);
    top: 100%;
}
.nav li:hover #subnav-v{
    display: block;
}
#subnav-v li:hover,
 #subnav-v li a:hover{
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 10px;
 }
.nav #subnav-v a{
    color: black;
    font-size: 15px;
    line-height: 20px;
}

.nav #subnav-p{
    display: none;
    background-color: #fff;
    position: absolute;
    height: 170px;
    width: 130px;
    box-shadow: 0 0 10px rgb( 0, 0, 0, 0.3);
    top: 100%;
}
.nav li:hover #subnav-p{
    display: block;
}
#subnav-p li:hover,
 #subnav-p li a:hover{
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 10px;
 }
.nav #subnav-p a{
    color: black;
    font-size: 15px;
    line-height: 20px;
}

.container .slider .sp {
    width: 15%;
    height: 500px;
    background-color: #e6e6e6;
    margin-left: 200px;
    margin-top: 0px;
}
.container .slider .sp ul{
    list-style: none;
    margin-left: 10px;
    font-weight: 500;
    line-height: 2rem;
    color: black;
} 
.container .slider .sp ul a{
    text-decoration: none;
}
.container .slider .sp ul li a:hover{
    color: #fff ;
}
.container.slider{
    margin-top:120px;
    width: 80%;
    height: 550px;
    padding: 50px 0px;
    text-decoration: none;
    margin-left: 200px;
}
/*.slider .sp{
    width: 15%;
    height: 500px;
    background-color: #ccc;
    float: left;
    border-radius: 20px;
}
.slider .sp .list p{
    border-bottom: 2px solid black;
}

.slider .sp .list #subnav li a {
    color: black;
    padding-left: 10px;
    
}
.slider .list #subnav li:hover,
.slider .list #subnav li a:hover{
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 10px;
}*/
.slider .infor{
    width: 40%;
    height: 500px;
    background-color: darkkhaki;
    margin-top: 200px;
    
}
.slider .infor-img{
    width: 40%;
    height: 500px;
    float: left;
}
.infor-img{
    width: 40%;
    height: 500px;
    margin-left: 25px;
    float:left;
}
 .infor-img img{
    width:auto;
    height: 500px;
}
 .infor-l{
    width: 40%;
    height: 500px;
    float: right;
    margin-right: 20px;
    float: right;
}
.infor-l .name{
    width: 100%;
    height: 200px;
    
}
.infor-l .name h2{
    margin: 5px 0px;
    margin-left: 50px;
}
.infor-l .name h3{
    margin: 5px 0px;
    margin-left: 50px;
}

.infor-l .sale{
    width: 100%;
    height: 150px;
    
}
.infor-l .sale p{
    margin: 8px 50px;
}
.infor-l .price{
    width: 90%;
    height: 100px;
   
}
.infor-l .price p{
    margin: 1px;
}

.product_details{
    width: 100%;
}
.description{
    width: 45%;
    height: 990px;
    margin-left: 20px;
    border:1px solid #ccc;
    border-radius: 15px;
    float: left;
}
.description .des h1{
    margin: 10px 50px;
}
.description table{
    margin-left: 5px;
}
.description table, th{
    border:1px solid #ccc;
}
.description table{
    border-collapse:collapse;
}
.description th{
    height: 50px;
    margin: 0px 20px;
}
.product_review{
    width: 50%;
    height: 990px;
    float: right;
    margin-right: 20px;
}
.product_cmt form{
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    height: 300px;
    background-color: burlywood;

    
}
.product_review .product_in4{
    width: 100%;
    height:470px ;
    border-bottom: 1px solid #ccc;
}
.product_cmt{
    width: 100%;
    height: 520px;
    text-align: center;
    margin-top: 30px;
}
.product_review .product_in4 h1{
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    margin-top: 50px;

}
.product_in4 .review{
    border-bottom: 1px solid #ccc;
}
.product_in4 .review h2{
    margin:5px  22px;

}
.product_in4 .review p{
    text-align: justify;
    margin: 5px;
    font-size: 13px;
}
.product_cmt .inf-name{
    width: 350px;
    height: 30px;
    margin: 10px;
    float: left;
}
.product_cmt .inf-name label{
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}
.product_cmt .inf-name input{
    width: 250PX;
    height: 30px;
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    outline-color: cornflowerblue;
}
.product_cmt .cmt textarea{
    border-radius:10px ;
    padding: 15px;
}
.product_cmt  button{
    width: 85%;
    height: 40px;
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}
